/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 2, 2021, 5:49:20 PM
    Author     : thilr_88qp6ap
*/

.table-view {
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-fill: grey;
}

.table-view .column-header-background {
    -fx-background-color: white;
    -fx-background-radius: 30;
    -fx-background-insets: 5 4 5 4;
    -fx-padding: 20;
    -fx-effect: dropshadow(one-pass-box,grey,15,0.5,0,0) 
}

.table-view .column-header, .table-view .filler {
    -fx-size: 40;
    -fx-border-width: 0 0 10 0;
    -fx-background-color: transparent;
} 

.table-view .column-header .label {
    -fx-text-fill: grey;
}

